.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 12px;
}

.logo__text-span {
    margin-left: 2px;
    color: var(--accent);
}

/* md <= Large (lg) */
@media (max-width : 991px) {
    .logo__text-span {
        display: none;
    }
}
