.back-dark {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    width: 35%;
    height: 100vh;

    background-color: #101015;
    transform:translateX(-100%);

    animation: 3s in-out forwards 2.6s;
}

@keyframes in-out {
  0% {
    transform:translateX(-100%);
  }
  100% {
    transform:translateX(0%);
  }
}
